/* Application wide styles */

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-base: #395bae;
}

/* Component specific styles */


.main-panel {
    -fx-background-image: url("../images/background.jpg");
}

.hello-message {
    -fx-text-fill: #AA0000;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#statusBar {
	-fx-background-color:
        linear-gradient(#686868 0%, #232723 20%, #373837 70%, #757575 90%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 90%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 90%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 90%);
}

#statusBar {
	-fx-padding: 3px;
}

#statusBar Label {
	-fx-text-fill: white;
}

#statusBar #versionInfo {
	-fx-padding: 5px;
}

#statusBar .progress-bar {
	-fx-padding: 2px;
}

#statusBar .progress-bar .track {
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

#statusBar .progress-bar .bar { 
    -fx-padding: 2px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%);
}

.error-text-field {
	-fx-background-color: #FFB9B9;
}

